<% layout("/layouts/boilerplate")%>
  <body>
    <form action="http://localhost:3000/listings<%= listing ? '/' + listing._id + '?_method=PATCH' : '' %>" method="post" id="newListingForm">
      <input type="text" name="listing[title]" placeholder="title" value="<%=listing?listing.title:""%>"/>
      <input type="text" name="listing[country]" placeholder="country" value="<%=listing?listing.country:""%>"/>
      <input type="text" name="listing[location]" placeholder="location" value="<%=listing?listing.location:""%>"/>
      <input type="number" name="listing[price]" placeholder="price" value="<%=listing?listing.price:""%>"/>
      <textarea name="listing[description]" placeholder="price" rows="10">
        <%=listing?listing.description:""%>
      </textarea>
      <button>Add Listing</button>
    </form>
  </body>
</html>
